@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;

500;600;700&display=swap&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
main,
aside {
  display: block;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #474551;
  font-family: "Poppins";
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
}

.subTitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #099DBA;
}

.sign__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 25px;
  background-color: #046DBF;
  color: #FFFFFF;
}

.sign__btn:hover {
  background-color: transparent;
  border: 2px solid #046DBF;
  color: #046DBF;
  transition: 0.3s ease;
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  z-index: 5;
  font-size: 15px;
  font-weight: 600;
  color: #099DBA;
  border: 1px solid #099DBA;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.card__btn:hover {
  background-color: #046DBF;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}

._obj {
  position: relative;
}

._obj img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._ahv {
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

._ahv::after {
  --scale: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 3px;
  background: linear-gradient(135deg, rgba(68, 109, 246, 0.7450980392), rgba(68, 109, 246, 0.7450980392));
  border-radius: 25px;
  transform: scaleX(var(--scale));
  transform-origin: var(--x) 50%;
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

._ahv:hover {
  opacity: 1;
}

._ahv:hover::after {
  --scale: 1;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */

/* Слайд активный */

/* Слайд основной */

/* Слайд по центру */

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: -40px 0 0 0;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  left: 0;
  background: #F3FEFE url("../img/Actions/Arrow-left.svg") center center/60% no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
  background: #F3FEFE url("../img/Actions/Arrow-right.svg") center center/60% no-repeat;
}

/* Стрелка не активная */

/* Точки */

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots li.slick-active button {
  transform: scale(1.1);
  background-color: #33D9DA;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #BDF8F9;
  border-radius: 50%;
}

.header {
  position: relative;
}

.header .header__content {
  padding: 30px 15px;
  display: flex;
  height: 165px;
  align-items: flex-end;
}

.header__logo-content {
  display: flex;
  align-items: center;
  align-self: flex-start;
  max-width: 320px;
  margin: 0 30px 0 0;
}

.header__logo-content .header__logo-text {
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #099DBA;
  margin: 0 0 0 15px;
}

.header__info-flex {
  color: #099DBA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 500px;
  margin: 0 30px 0 0;
}

.header__adress-content {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  height: 80px;
  margin: 0 40px 0 0;
}

.header__adress-content .header__adress-title {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.header__adress-content .header__adress-title p {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 0 5px;
}

.header__adress-content .header__adress-text {
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #474551;
}

.header__clock-content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-self: flex-start;
  height: 80px;
}

.header__clock-content .header__clock-title {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.header__clock-content .header__clock-title p {
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 0 5px;
}

.header__clock-content .header__clock-text {
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #474551;
}

.header__contact-content {
  display: flex;
  -ms-grid-row-align: center;
      align-self: center;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1 10 100%;
  height: 62px;
}

.header__messages {
  width: 70px;
  margin: 0 30px 0 0;
  display: flex;
  -ms-grid-row-align: center;
      align-self: center;
}

.header__messages img {
  margin: 0 0 10px 5px;
}

.header__call {
  width: 180px;
}

.header__call .header__call-text {
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.025em;
  text-align: left;
}

.header__call .header__cal-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #099DBA;
}

.burger__content {
  display: flex;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #FFFFFF;
  border-radius: 34%;
  border-bottom-right-radius: 42%;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.089);
  display: none;
  transform: translateY(-5px);
}

.burger__content:hover {
  cursor: pointer;
}

._burgerSTX {
  position: relative;
  width: 55px;
  height: 55px;
}

._burgerSTX span {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 4px;
  background-color: #099DBA;
  border-radius: 20px;
  transition: 0.2s;
}

._burgerSTX .span-one {
  transform: translateY(-9px);
}

._burgerSTX .span-three {
  width: 23px;
  transform: translateY(9px);
}

._burgerSTX-active .span-two {
  display: none;
}

._burgerSTX-active .span-one {
  transform: rotate(45deg);
}

._burgerSTX-active .span-three {
  width: 30px;
  transform: rotate(-45deg);
}

.asaide-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F3FEFE;
  width: 300px;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ccc;
  transform: translate(-400px) perspective(400px) translateZ(150px);
  transition: all 0.3s ease;
  z-index: 10;
}

.asaide-menu .header__adress-content {
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.asaide-menu .header__clock-content {
  display: block;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.asaide-menu .header__messages {
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.asaide-menu .header__call {
  display: block;
  padding-bottom: 25px;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 80px;
}

.asaide-menu .header__cal-btn {
  display: block;
}

.asaide-active {
  transform: translate(0);
  transition: all 0.3s linear;
}

.sign {
  position: relative;
  height: 430px;
}

.sign img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.sign .sign__content {
  position: relative;
  z-index: 1;
  padding: 50px 15px 70px 15px;
}

.sign__title {
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  margin: 0 0 20px 0;
}

.sign__subtitle {
  display: flex;
  justify-content: flex-start;
  max-width: 400px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #099DBA;
  margin: 0 0 40px 0;
}

.sign__up {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 350px;
}

.sign__up .sign__up-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 30px 0;
}

.sign__up .sign__up-text span {
  font-weight: 600;
  color: #099DBA;
}

.sign__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0 0;
}

.sign__card-padding {
  padding: 0 10px;
}

.sign__card {
  max-width: 330px;
  height: 120px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #F3FEFE;
  border-radius: 10px;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.103);
}

.sign__card .sign__card-img {
  position: relative;
  width: 63px;
  height: 63px;
  margin: 0 15px 0 0;
}

.sign__card .sign__card-img img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sign__card .sign__card-text h5 {
  font-size: 18px;
  font-weight: 600;
  color: #099DBA;
  margin: 0 0 10px 0;
}

.sign__card .sign__card-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.advice {
  margin: 130px 0 0 0;
}

.advice__btn {
  margin: 0 auto;
}

.advice__flex {
  margin: 30px 0 30px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.advice__card-padding {
  padding: 0 5px;
}

.advice__card-padding .advice__card {
  max-width: 360px;
}

.advice__card-img {
  position: relative;
  width: 100%;
  height: 200px;
}

.advice__card-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.advice__card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto 10px;
}

.advice__card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}

.actions {
  margin: 40px 0 0px 0;
}

.actions__subTitle {
  max-width: 900px;
  margin: 0 auto;
}

.actions__subTitle span {
  color: #046DBF;
}

.actions__card {
  position: relative;
  max-width: 320px;
  height: 320px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: justify;
  padding: 0 10px;
}

.actions__card img {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.actions__card .actions__btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -65px;
}

.slider__container {
  position: relative;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
  margin: 30px auto 0;
}

.services {
  margin: 40px 0 0px 0;
}

.services__subTitle {
  max-width: 800px;
  margin: 0 auto;
}

.services__card-content {
  margin: 30px 0 0 0;
}

.services__card-content .services__card-flex {
  display: flex;
}

.services__card-content .services__card-flex .services__card-padding {
  padding: 10px;
  width: 100%;
}

.services__card {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #d7fcfc;
  border-radius: 20px;
  padding: 30px 20px;
  z-index: 2;
}

.services__card .services__imgB {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 150px;
  z-index: -1;
}

.services__card .card__title {
  font-weight: 600;
  color: #046DBF;
  margin: 0 0 15px 0;
}

.services__card .card__subTitle {
  max-width: 300px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0 0 20px 0;
  color: rgba(40, 40, 40, 0.7254901961);
  z-index: 1;
}

.services__card .li {
  position: relative;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin: 0 0 10px 18px;
}

.services__card .li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  left: -18px;
  top: 6px;
}

.services__card .card__message-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 80px;
  margin-left: -135px;
}

.services__card .card__message-cont .card__img {
  margin: 0 10px 0 0;
}

.services__card .card__message-cont .card__text {
  font-size: 16px;
  font-weight: 400;
}

.services__card .card__btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -140px;
  z-index: 20;
}

.services__card .card__btn-cont .card__services-btn {
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  color: #099DBA;
  border: 1px solid #099DBA;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.services__card .card__btn-cont .card__services-btn:hover {
  background-color: #046DBF;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}

.services__card .card__btn-cont .servicesMod {
  margin: 0 0 0 15px;
  background-color: #BDF8F9;
}

.services__card .card__btn-cont .servicesMod:hover {
  background-color: #046DBF;
}

.services__info-cont {
  position: relative;
  width: 100%;
  padding: 30px 10px;
  border-radius: 30px;
  overflow: hidden;
}

.services__info-cont .info__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.services__infoMessage-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 20px 0;
}

.services__infoMessage-cont .services-info__img {
  margin: 0 10px 0 0;
}

.services__infoMessage-cont .services-info__text {
  font-weight: 600;
}

.services-info__btn-cont {
  display: flex;
  justify-content: center;
}

.services-info__btn-cont .servicesMod {
  margin: 0 0 0 15px;
  background-color: #046DBF;
  color: #FFFFFF;
  font-size: 14px;
}

.services-info__btn-cont .servicesMod:hover {
  background-color: #F3FEFE;
  color: #046DBF;
}

.services__info-item {
  display: flex;
  align-items: center;
  max-width: 620px;
  padding: 20px 10px;
  background-color: #BDF8F9;
  border-radius: 20px;
  margin: 0 0 20px 0;
}

.services__info-item .info-item__number {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 37px;
  font-weight: 600;
  color: #046DBF;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.services__info-item .info-item__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  max-width: 500px;
}

.services__info-item:nth-child(3) {
  margin-left: 7%;
}

.services__info-item:nth-child(4) {
  margin-left: 15%;
}

.services__info-item:nth-child(5) {
  margin-left: 24%;
}

.doctor {
  margin: 40px 0 0px 0;
}

.doctor__subTitle {
  max-width: 800px;
  margin: 0 auto;
}

.doctor__card-padding {
  padding: 10px;
}

.doctor__card {
  position: relative;
  width: 500px;
  height: 440px;
  background-color: #F3FEFE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.144);
  padding: 20px;
  border-radius: 10px;
}

.doctor__card .doctor__img {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 55%;
}

.doctor__card .card__doctor-name {
  font-weight: 500;
  margin: 0 0 10px 0;
}

.doctor__card .card__doctor-major {
  font-weight: 700;
  line-height: 20px;
}

.doctor__card .card__doctor-major span {
  color: #046DBF;
  font-weight: 700;
}

.doctor__card .card__doctor-info {
  position: absolute;
  bottom: 20px;
  background-color: rgba(243, 254, 254, 0.8);
  border-radius: 10px;
  padding: 10px;
  max-width: 260px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.11);
}

.doctor__card .card__doctor-info .card__doctor-title {
  font-weight: 600;
  color: #099DBA;
  margin: 0 0 10px 0;
}

.doctor__card .card__doctor-info .card__doctor-text {
  font-family: Gilroy;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.choose {
  margin: 40px 0 0px 0;
}

.choose__subTitle {
  margin: 0 auto;
  max-width: 800px;
}

.choose__item-content {
  margin: 40px 0 0 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.choose__item-content .choose__item-padding {
  padding: 20px 10px;
}

.choose__item {
  width: 180px;
  height: 115px;
  background-color: #F3FEFE;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease;
}

.choose__item .choose__item-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #099DBA;
}

.choose__item .choose__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #BDF8F9;
  margin: 10px auto;
}

.choose__item .choose__item-img img {
  width: 60px;
}

.choose__item:hover {
  transform: translateY(-10px);
  cursor: pointer;
  background-color: #BDF8F9;
}

.choose__item:hover .choose__item-title {
  color: #FFFFFF;
}

.choose__item:hover .choose__item-img {
  background-color: #F3FEFE;
}

.clinik {
  margin: 40px 0 0px 0;
}

.clinik__subTitle {
  max-width: 800px;
  margin: 0 auto;
}

.sliderShow-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 0;
}

.sliderShow__info-title {
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 15px 0;
}

.sliderShow__info {
  max-width: 600px;
}

.sliderShow__info ul {
  display: block;
}

.sliderShow__info .li {
  position: relative;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0 0 15px 20px;
}

.sliderShow__info .li::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -17px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}

.sliderShow__flex {
  width: 400px;
}

.sliderShow__flex .sliderShow {
  min-width: 0;
}

.sliderShow__flex .sliderShow .sliderShow__item {
  text-align: center;
}

.sliderShow__flex .sliderShow .sliderShow__item img {
  width: 100%;
  height: 100%;
}

.clinik__slider-item {
  width: 270px;
  height: 190px;
}

.clinik__slider-item img {
  width: 100%;
  height: 100%;
}

.clinik__mob {
  display: none;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  margin: -15px 0 0px 0;
}

.form {
  margin: 30px 0 0px 0;
}

.form .form__content {
  position: relative;
  padding: 20px 15px;
}

.form .form__content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form__form {
  padding: 20px 10px;
  background-color: #F3FEFE;
  max-width: 450px;
  margin-left: auto;
  border-radius: 10px;
}

.form__form .form__title {
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #046DBF;
  margin: 0 0 10px 0;
}

.form__form .form__subTitle {
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #099DBA;
  margin: 0 0 30px 0;
}

.form__form input {
  display: block;
  width: 220px;
  height: 30px;
  margin: 0 auto 15px;
  border-radius: 25px;
  border: 1px solid #099DBA;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.082);
  padding: 10px;
}

.form__form input::-moz-placeholder {
  font-size: 12px;
  color: #099DBA;
}

.form__form input:-ms-input-placeholder {
  font-size: 12px;
  color: #099DBA;
}

.form__form input::placeholder {
  font-size: 12px;
  color: #099DBA;
}

.form__form .form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
  height: 30px;
  margin: 0 auto 15px;
  background-color: #046DBF;
  border: 1px solid #099DBA;
  border-radius: 25px;
  color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.082);
  transition: all 0.3s ease;
}

.form__form .form__btn:hover {
  background-color: #FFFFFF;
  color: #099DBA;
  cursor: pointer;
}

.map {
  margin: 0;
}

.map .map__content {
  position: relative;
  padding: 20px 15px;
}

.map .map__content .map__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.map__info {
  display: inline-block;
  background-color: rgba(9, 156, 186, 0.6431372549);
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.map__title {
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}

.map__subTitle {
  margin: 0 0 10px 0;
}

.map__road {
  position: relative;
  display: inline-block;
  z-index: 5;
  color: #046DBF;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.map__road img {
  position: absolute;
  top: -3px;
  right: -20px;
  width: 15px;
  height: 15px;
}

.map__text {
  font-size: 11px;
  line-height: 14px;
  margin: 0 0 10px 0;
  color: #f3f3f3;
}

.map__contacts {
  line-height: 20px;
  margin: 0 0 10px 0;
}

.map__contact-content {
  z-index: 1;
  margin: 0 0 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.map__contact-content .map__contact-img {
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

.map__contact-content .map__contact-text {
  font-size: 12px;
  color: #f3f3f3;
}

.vk__content {
  display: flex;
  align-items: center;
}

.vk__content .vk__logo {
  width: 20px;
  height: 20px;
  background-color: #4C6C91;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 0 0;
}

.vk__content .vk__logo img {
  width: 12px;
}

.vk__content .vk__text {
  font-size: 12px;
  color: #f3f3f3;
}

.footer {
  position: relative;
  background-color: #F3FEFE;
}

.footer__content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-content {
  display: flex;
  align-items: center;
  align-self: flex-start;
  max-width: 320px;
  margin: 0 30px 0 0;
}

.footer__logo-content .footer__logo-text {
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #099DBA;
  margin: 0 0 0 15px;
}

.footer__nav {
  max-width: 500px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.foote__nav-li {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 0 15px;
  color: #099DBA;
}

.footer__menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(9, 156, 186, 0.7607843137);
  width: 240px;
  padding: 10px 0px;
  display: none;
  align-items: center;
  transition: all 0.3s ease;
  transform: translateX(-240px);
}

.footer__menu ul {
  justify-content: flex-start;
}

.footer__menu .foote__nav-li {
  color: #FFFFFF;
}

.footer-active {
  transform: translateX(0px);
}

#footer__burger {
  display: flex;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#burger {
  display: none;
}

@media (min-width: 767px) {
  .title {
    font-size: calc(15px + 17 * (100vw / 1170));
  }

  .subTitle {
    font-size: calc(11px + 7 * (100vw / 1170));
  }

  .header__logo-content .header__logo-text {
    font-size: calc(11px + 11 * (100vw / 1170));
  }

  .sign__title {
    font-size: calc(18px + 17 * (100vw / 1170));
  }

  .sign__subtitle {
    font-size: calc(13px + 5 * (100vw / 1170));
  }

  .services__card .card__title {
    font-size: calc(13px + 9 * (100vw / 1170));
  }

  .services__card .card__subTitle {
    font-size: calc(11px + 3 * (100vw / 1170));
  }

  .services__card .li {
    font-size: calc(9px + 5 * (100vw / 1170));
  }

  .doctor__card .card__doctor-name {
    font-size: calc(11px + 9 * (100vw / 1170));
  }

  .doctor__card .card__doctor-major {
    font-size: calc(9px + 6 * (100vw / 1170));
  }

  .doctor__card .card__doctor-info .card__doctor-title {
    font-size: calc(10px + 5 * (100vw / 1170));
  }

  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: calc(9px + 5 * (100vw / 1170));
  }

  .sliderShow__info-title {
    font-size: calc(10px + 7 * (100vw / 1170));
  }

  .sliderShow__info .li {
    font-size: calc(9px + 6 * (100vw / 1170));
  }

  .clinik__mob {
    font-size: calc(10px + 7 * (100vw / 1170));
  }

  .form__form .form__title {
    font-size: calc(10px + 8 * (100vw / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(10px + 6 * (100vw / 1170));
  }

  .map__title {
    font-size: calc(11px + 8 * (100vw / 1170));
  }

  .map__subTitle {
    font-size: calc(7px + 7 * (100vw / 1170));
  }

  .footer__logo-content .footer__logo-text {
    font-size: calc(11px + 11 * (100vw / 1170));
  }

  .foote__nav-li {
    font-size: calc(10px + 8 * (100vw / 1170));
  }
}

@media (min-width: 1170px) {
  .title {
    font-size: 32px;
  }

  .subTitle {
    font-size: 18px;
  }

  .header__logo-content .header__logo-text {
    font-size: 22px;
  }

  .sign__title {
    font-size: 35px;
  }

  .sign__subtitle {
    font-size: 18px;
  }

  .services__card .card__title {
    font-size: 22px;
  }

  .services__card .card__subTitle {
    font-size: 14px;
  }

  .services__card .li {
    font-size: 14px;
  }

  .doctor__card .card__doctor-name {
    font-size: 20px;
  }

  .doctor__card .card__doctor-major {
    font-size: 15px;
  }

  .doctor__card .card__doctor-info .card__doctor-title {
    font-size: 15px;
  }

  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: 14px;
  }

  .sliderShow__info-title {
    font-size: 17px;
  }

  .sliderShow__info .li {
    font-size: 15px;
  }

  .clinik__mob {
    font-size: 17px;
  }

  .form__form .form__title {
    font-size: 18px;
  }

  .form__form .form__subTitle {
    font-size: 16px;
  }

  .map__title {
    font-size: 19px;
  }

  .map__subTitle {
    font-size: 14px;
  }

  .footer__logo-content .footer__logo-text {
    font-size: 22px;
  }

  .foote__nav-li {
    font-size: 18px;
  }
}

@media (max-width: 1090px) {
  .header__logo-content {
    -ms-grid-row-align: center;
        align-self: center;
  }

  .header__logo-content .header__logo img {
    width: 75px;
  }

  .header__adress-content {
    margin: 0 20px 0 0;
    height: 90px;
  }

  .header__adress-content .header__adress-title p {
    font-size: 16px;
  }

  .header__adress-content .header__adress-text {
    font-size: 14px;
  }

  .header__clock-content .header__clock-title p {
    font-size: 16px;
  }

  .header__clock-content .header__clock-text {
    font-size: 14px;
  }

  .header__contact-content {
    -ms-grid-row-align: center;
        align-self: center;
  }

  .header__messages {
    flex-direction: column;
    margin: 0 0px 0 0;
  }

  .header__call {
    display: none;
  }

  .header__call .header__call-text {
    font-size: 16px;
  }

  .header__call .header__cal-btn {
    font-size: 13px;
  }

  .burger__content {
    display: flex;
  }

  .footer__logo-content {
    -ms-grid-row-align: center;
        align-self: center;
  }

  .footer__logo-content .footer__logo img {
    width: 75px;
  }
}

@media (max-width: 990px) {
  .form__form {
    background-color: rgba(243, 254, 254, 0.568627451);
    max-width: 330px;
  }
}

@media (max-width: 967px) {
  .sign__card {
    flex-direction: column;
    max-width: 220px;
    padding: 20px 10px;
    height: 200px;
  }

  .sign__card .sign__card-img {
    margin: 0;
  }

  .sign__card .sign__card-text h5 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  .sign__card .sign__card-text p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
  }

  .advice {
    margin: 200px 0 0 0;
  }
}

@media (max-width: 930px) {
  .header .header__content {
    padding: 20px 15px;
    height: 140px;
  }

  .header__info-flex {
    justify-content: flex-end;
  }

  .header__adress-content {
    display: none;
  }

  .header__clock-content {
    display: none;
  }
}

@media (max-width: 860px) {
  .services__info-item {
    margin: 0 auto 15px;
    padding: 13px;
    max-width: 500px;
  }

  .services__info-item .info-item__number {
    width: 55px;
    height: 55px;
    font-size: 32px;
    margin: 0 10px 0 0;
  }

  .services__info-item .info-item__text {
    max-width: 400px;
    font-size: 12px;
    line-height: 16px;
  }

  .services__info-item:nth-child(3) {
    margin: 0 auto 15px;
  }

  .services__info-item:nth-child(4) {
    margin: 0 auto 15px;
  }

  .services__info-item:nth-child(5) {
    margin: 0 auto 15px;
  }
}

@media (max-width: 830px) {
  .header__adress-content .header__adress-title p {
    font-size: 15px;
  }

  .header__adress-content .header__adress-text {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .doctor__card {
    height: 350px;
    width: 380px;
  }
}

@media (max-width: 790px) {
  .advice__card-img {
    height: 160px;
  }

  .advice__card-title {
    font-size: 15px;
    line-height: 18px;
  }

  .advice__card-text {
    font-size: 12px;
  }
}

@media (max-width: 781px) {
  .sign__up .sign__up-text {
    font-size: 15px;
    line-height: 20px;
  }

  .sign__up .sign__up-btn {
    max-width: 120px;
    height: 35px;
    font-size: 12px;
  }

  .sign__card .sign__card-text p {
    font-size: 14px;
    line-height: 18px;
  }

  .advice {
    margin: 180px 0 0 0;
  }
}

@media (max-width: 770px) {
  .footer__logo-content .footer__logo img {
    width: 60px;
  }

  .footer__logo-content .footer__logo-text {
    line-height: 20px;
    margin: 0 0 0 8px;
  }

  .foote__nav-li {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 770px) and (max-width: 767px) {
  .footer__logo-content .footer__logo-text {
    font-size: calc(11px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 767px) {
  .title {
    font-size: calc(15px + 28.9 * ((100vw - 320px) / 1170));
  }

  .subTitle {
    font-size: calc(11px + 11.9 * ((100vw - 320px) / 1170));
  }

  .header__logo-content .header__logo-text {
    font-size: calc(11px + 18.7 * ((100vw - 320px) / 1170));
  }

  .sign__title {
    font-size: calc(18px + 28.9 * ((100vw - 320px) / 1170));
  }

  .sign__subtitle {
    font-size: calc(13px + 8.5 * ((100vw - 320px) / 1170));
  }

  .services__card .card__title {
    font-size: calc(13px + 15.3 * ((100vw - 320px) / 1170));
  }

  .services__card .card__subTitle {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1170));
  }

  .services__card .li {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1170));
  }

  .doctor__card .card__doctor-name {
    font-size: calc(11px + 15.3 * ((100vw - 320px) / 1170));
  }

  .doctor__card .card__doctor-major {
    font-size: calc(9px + 10.2 * ((100vw - 320px) / 1170));
  }

  .doctor__card .card__doctor-info .card__doctor-title {
    font-size: calc(10px + 8.5 * ((100vw - 320px) / 1170));
  }

  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1170));
  }

  .sliderShow-content {
    flex-direction: column;
  }

  .sliderShow__info-title {
    font-size: calc(10px + 11.9 * ((100vw - 320px) / 1170));
  }

  .sliderShow__info-title {
    text-align: center;
    display: none;
  }

  .sliderShow__info {
    margin: 0 0 20px 0;
  }

  .sliderShow__info .li {
    font-size: calc(9px + 10.2 * ((100vw - 320px) / 1170));
  }

  .sliderShow__info .li {
    text-align: center;
  }

  .sliderShow__info .li::before {
    display: none;
  }

  .clinik__mob {
    font-size: calc(10px + 11.9 * ((100vw - 320px) / 1170));
  }

  .clinik__mob {
    display: block;
  }

  .form__form .form__title {
    font-size: calc(10px + 13.6 * ((100vw - 320px) / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(10px + 10.2 * ((100vw - 320px) / 1170));
  }

  .map__title {
    font-size: calc(11px + 13.6 * ((100vw - 320px) / 1170));
  }

  .map__subTitle {
    font-size: calc(7px + 11.9 * ((100vw - 320px) / 1170));
  }

  .footer__logo-content .footer__logo-text {
    font-size: calc(11px + 18.7 * ((100vw - 320px) / 1170));
  }

  .foote__nav-li {
    font-size: calc(10px + 13.6 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 710px) {
  .services__card-content .services__card-flex {
    flex-direction: column;
  }

  .services__card-content .services__card-flex .services__card-padding {
    padding: 10px 0;
  }

  .services__card {
    height: 370px;
  }
}

@media (max-width: 706px) {
  .header .header__content {
    justify-content: space-between;
    height: 100px;
  }

  .header__info-flex {
    display: none;
  }

  .header__contact-content {
    display: none;
  }
}

@media (max-width: 690px) {
  .sign {
    height: 300px;
  }

  .sign .sign__content {
    padding: 20px 15px;
  }

  .sign__title {
    max-width: 380px;
    line-height: 34px;
    margin: 0 0 10px 0;
  }

  .sign__subtitle {
    max-width: 380px;
    line-height: 19px;
    margin: 0 0 10px 0;
  }

  .sign__up .sign__up-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0 0 20px 0;
  }

  .sign__up .sign__up-btn {
    max-width: 100px;
    height: 30px;
    font-size: 10px;
  }

  .sign__card {
    max-width: 170px;
    padding: 10px 5px;
    height: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.068);
  }

  .sign__card .sign__card-img {
    width: 40px;
    height: 40px;
  }

  .sign__card .sign__card-text h5 {
    font-size: 13px;
    margin: 10px 0 20px 0;
  }

  .sign__card .sign__card-text p {
    font-size: 11px;
    line-height: 15px;
  }

  .advice {
    margin: 120px 0 0 0;
  }

  .form__form .form__title {
    line-height: 16px;
    margin: 0 0 5px 0;
  }

  .form__form .form__subTitle {
    line-height: 15px;
    margin: 0 0 20px 0;
  }

  .form__form input::-moz-placeholder {
    font-size: 10px;
  }

  .form__form input:-ms-input-placeholder {
    font-size: 10px;
  }

  .form__form input::placeholder {
    font-size: 10px;
  }

  .form__form input {
    width: 180px;
    font-size: 12px;
    height: 25px;
    margin: 0 auto 10px;
  }

  .form__form .form__btn {
    width: 180px;
    font-size: 12px;
    height: 25px;
    margin: 0 auto;
  }
}

@media (max-width: 690px) and (max-width: 767px) {
  .sign__title {
    font-size: calc(18px + 11.9 * ((100vw - 320px) / 1170));
  }

  .sign__subtitle {
    font-size: calc(12px + 5.1 * ((100vw - 320px) / 1170));
  }

  .form__form .form__title {
    font-size: calc(10px + 6.8 * ((100vw - 320px) / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(9px + 6.8 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 630px) {
  ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 610px) {
  .advice__btn {
    max-width: 100px;
    height: 30px;
    font-size: 10px;
  }

  .advice__card-img {
    height: 120px;
  }

  .advice__card-title {
    font-size: 12px;
    line-height: 15px;
  }

  .advice__card-text {
    font-size: 10px;
    line-height: 14px;
  }
}

@media (max-width: 590px) {
  .header__logo-content .header__logo img {
    width: 65px;
  }

  .header__logo-content .header__logo-text {
    line-height: 20px;
  }

  ._burgerSTX {
    width: 40px;
    height: 40px;
  }

  ._burgerSTX span {
    width: 26px;
    height: 3px;
    margin-left: -13px;
  }

  ._burgerSTX .span-three {
    width: 18px;
  }

  ._burgerSTX-active .span-three {
    width: 26px;
  }

  .asaide-menu {
    width: 250px;
  }

  .doctor__card {
    width: 310px;
    height: 320px;
  }

  .doctor__card .doctor__img {
    width: 65%;
    right: 5px;
  }

  .doctor__card .card__doctor-major {
    line-height: 15px;
  }

  .doctor__card .card__doctor-info {
    max-width: 200px;
  }

  .doctor__card .card__doctor-info .card__doctor-text {
    line-height: 14px;
  }

  .map__info {
    padding: 10px 15px;
  }

  .map__title {
    margin: 0 0 5px 0;
  }

  .map__subTitle {
    margin: 0 0 5px 0;
  }

  .map__road {
    font-size: 9px;
  }

  .map__text {
    margin: 0 0 5px 0;
    font-size: 9px;
    line-height: 11px;
  }

  .map__contacts {
    margin: 0 0 5px 0;
    font-size: 11px;
    line-height: 17px;
  }

  .map__contact-content .map__contact-img {
    width: 17px;
    height: 17px;
    margin: 0 5px 0 0;
  }

  .map__contact-content .map__contact-text {
    font-size: 9px;
  }

  .vk__content .vk__logo {
    width: 17px;
    height: 17px;
    margin: 0 5px 0 0;
  }

  .vk__content .vk__logo img {
    width: 11px;
  }

  .vk__content .vk__text {
    font-size: 9px;
  }
}

@media (max-width: 560px) {
  .services__card .li::before {
    width: 5px;
    height: 5px;
    top: 7px;
    left: -10px;
  }
}

@media (max-width: 547px) {
  .services__info-cont {
    border-radius: 10px;
  }

  .services__infoMessage-cont .services-info__text {
    font-size: 12px;
  }

  .services-info__btn-cont .info-btn {
    max-width: 80px;
    height: 25px;
    font-size: 10px;
  }

  .services-info__btn-cont .servicesMod {
    font-size: 8px;
  }

  .services__info-item {
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 330px;
  }

  .services__info-item .info-item__number {
    width: 40px;
    height: 40px;
    font-size: 23px;
    margin: 0 5px 0 0;
  }

  .services__info-item .info-item__text {
    font-size: 9px;
    max-width: 260px;
    line-height: 13px;
  }
}

@media (max-width: 530px) {
  .sign__up .sign__up-btn {
    max-width: 70px;
    height: 25px;
    font-size: 8px;
    letter-spacing: 0;
  }

  .sign__card .sign__card-text h5 {
    font-size: 10px;
    margin: 10px 0 20px 0;
  }

  .sign__card .sign__card-text p {
    font-size: 9px;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 522px) {
  ._ahv::after {
    height: 2px;
    top: 13px;
  }

  ._ahv::after {
    height: 2px;
    top: 17px;
  }
}

@media (max-width: 510px) {
  .slick-arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: -30px 0 0 0;
  }

  .slick-dots li {
    margin: 0 5px;
  }

  .slick-dots button {
    width: 8px;
    height: 8px;
  }

  .actions__card {
    max-width: 240px;
    height: 240px;
  }

  .actions__card .actions__btn {
    width: 80px;
    height: 25px;
    margin-left: -40px;
    font-size: 10px;
  }

  .slider__container {
    padding: 0 38px;
    margin: 20px auto 0;
  }
}

@media (max-width: 490px) {
  .form .form__content {
    padding: 10px;
  }

  .form__form {
    width: 210px;
    padding: 10px 5px;
  }

  .form__form .form__title {
    line-height: 10px;
    margin: 0 0 4px 0;
  }

  .form__form .form__subTitle {
    line-height: 10px;
    margin: 0 0 10px 0;
  }

  .form__form input::-moz-placeholder {
    font-size: 8px;
  }

  .form__form input:-ms-input-placeholder {
    font-size: 8px;
  }

  .form__form input::placeholder {
    font-size: 8px;
  }

  .form__form input {
    width: 150px;
    font-size: 10px;
    height: 20px;
    padding: 5px 10px;
    margin: 0 auto 9px;
  }

  .form__form .form__btn {
    width: 150px;
    font-size: 10px;
    height: 20px;
    margin: 0 auto 5px;
  }
}

@media (max-width: 490px) and (max-width: 767px) {
  .form__form .form__title {
    font-size: calc(10px + 5.1 * ((100vw - 320px) / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(9px + 3.4 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 479.98px) {
  .header {
    background-color: #F3FEFE;
  }
}

@media (max-width: 470px) {
  .advice__flex {
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .advice__card-padding .advice__card {
    margin: 0 0 20px 0;
  }

  .advice__card-img {
    height: 200px;
  }

  .advice__card-title {
    font-size: 14px;
    line-height: 17px;
    margin: -10px auto 5px;
  }

  .advice__card-text {
    font-size: 11px;
  }
}

@media (max-width: 467px) {
  .header .header__content {
    padding: 0px 15px;
    height: 80px;
  }

  .actions__card {
    padding: 0 10px 0 0px;
  }

  .actions__card:nth-child(even) {
    padding: 0 0 0 10px;
  }

  .slider__container {
    padding: 0;
    margin: 20px auto 0;
  }
}

@media (max-width: 435px) {
  .sign {
    height: 190px;
  }

  .sign .sign__content {
    padding: 10px 15px;
  }

  .sign__title {
    max-width: 260px;
    line-height: 22px;
  }

  .sign__subtitle {
    max-width: 260px;
    line-height: 15px;
  }

  .sign__up .sign__up-text {
    font-size: 8px;
    line-height: 14px;
    max-width: 240px;
    margin: 0 0 10px 0;
  }

  .sign__up .sign__up-btn {
    max-width: 60px;
    height: 20px;
    font-size: 7px;
    border: 1px solid #046DBF;
  }

  .sign__card-content {
    flex-direction: column;
    margin: 10px 0 0 0;
  }

  .sign__card {
    max-width: 220px;
    margin: 0 0 20px 0;
  }

  .sign__card .sign__card-text h5 {
    font-size: 12px;
    margin: 10px 0 20px 0;
  }

  .sign__card .sign__card-text p {
    font-size: 10px;
    margin: 0;
  }

  .advice {
    margin: 500px 0 0 0;
  }

  .services__card-content {
    margin: 20px 0 0 0;
  }

  .services__card {
    height: 300px;
  }

  .services__card .services__imgB {
    width: 100px;
    top: -15px;
    right: -9px;
  }

  .services__card .card__title {
    margin: 0 0 10px 0;
  }

  .services__card .card__subTitle {
    max-width: 250px;
    line-height: 16px;
    margin: 0 0 10px 0;
  }

  .services__card .li {
    margin: 0 0 0px 10px;
  }

  .services__card .card__message-cont {
    margin-left: -100px;
    bottom: 55px;
  }

  .services__card .card__message-cont .card__img img {
    width: 20px;
  }

  .services__card .card__message-cont .card__text {
    font-size: 12px;
  }

  .services__card .card__btn-cont {
    margin-left: -90px;
    bottom: 15px;
  }

  .services__card .card__btn-cont .card__services-btn {
    max-width: 80px;
    height: 25px;
    font-size: 9px;
  }
}

@media (max-width: 435px) and (max-width: 767px) {
  .sign__title {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1170));
  }

  .sign__subtitle {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1170));
  }

  .services__card .card__subTitle {
    font-size: calc(10px + 3.4 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 430px) {
  .doctor__card-padding {
    padding: 5px;
  }

  .doctor__card {
    width: 250px;
    height: 270px;
    padding: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.082);
  }

  .doctor__card .doctor__img {
    width: 70%;
    right: -5px;
  }

  .doctor__card .card__doctor-major {
    line-height: 13px;
  }

  .doctor__card .card__doctor-info {
    max-width: 180px;
    bottom: 10px;
  }

  .doctor__card .card__doctor-info .card__doctor-text {
    line-height: 12px;
  }

  .choose__item-content {
    margin: 10px 0 0 0;
  }

  .choose__item {
    width: 260px;
  }

  .clinik {
    margin: 10px 0 200px 0;
  }

  .sliderShow-content {
    margin: 10px 0 0px 0;
  }

  .sliderShow__info {
    margin: 0px 0 10px 0;
  }

  .sliderShow__info .li {
    margin: 0 0 5px 0;
    line-height: 16px;
    text-align: center;
  }

  .sliderShow__flex {
    width: 290px;
  }

  .sliderShow__flex .sliderShow .sliderShow__item {
    max-width: 290px;
  }

  .clinik__slider-item {
    max-width: 240px;
    height: 140px;
  }

  .form {
    margin: -180px 0 0px 0;
  }

  .map .map__content {
    padding: 10px;
  }

  .map__info {
    padding: 10px;
  }

  .map__title {
    margin: 0 0 3px 0;
  }

  .map__subTitle {
    margin: 0;
  }

  .map__road {
    font-size: 8px;
    margin: 0 0 3px 0;
  }

  .map__road img {
    width: 10px;
    height: 10px;
    top: -2px;
    right: -14px;
  }

  .map__text {
    font-size: 8px;
    margin: 0 0 3px 0;
    line-height: 9px;
  }

  .map__text br {
    display: none;
  }

  .map__contacts {
    font-size: 9px;
    margin: 0 0 5px 0;
    line-height: 11px;
  }

  .map__contacts .map__br {
    display: none;
  }

  .map__contact-content {
    margin: 0 0 5px 0;
  }

  .map__contact-content .map__contact-img {
    width: 14px;
    height: 14px;
    margin: 0 4px 0 0;
  }

  .map__contact-content .map__contact-text {
    font-size: 8px;
  }

  .vk__content .vk__logo {
    width: 14px;
    height: 14px;
    margin: 0 4px 0 0;
  }

  .vk__content .vk__logo img {
    width: 10px;
  }

  .vk__content .vk__text {
    font-size: 8px;
  }
}

@media (max-width: 430px) and (max-width: 767px) {
  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: calc(9px + 3.4 * ((100vw - 320px) / 1170));
  }

  .map__title {
    font-size: calc(12px + 11.9 * ((100vw - 320px) / 1170));
  }

  .map__subTitle {
    font-size: calc(9px + 1.7 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 420px) {
  .header__logo-content .header__logo img {
    width: 60px;
  }

  .header__logo-content .header__logo-text {
    margin: 0 0 0 10px;
    line-height: 17px;
  }

  .asaide-menu {
    width: 200px;
    padding: 20px 10px;
  }

  .asaide-menu .header__adress-content {
    height: 80px;
  }

  .asaide-menu .header__adress-title p {
    font-size: 13px;
  }

  .asaide-menu .header__adress-text {
    font-size: 10px;
  }

  .asaide-menu .header__clock-title p {
    font-size: 13px;
  }

  .asaide-menu .header__clock-text {
    font-size: 10px;
  }

  .asaide-menu .header__call-text {
    font-size: 13px;
  }

  .asaide-menu .header__cal-btn {
    font-size: 11px;
  }

  .footer__content {
    padding: 10px 15px;
  }

  .footer__logo-content .footer__logo img {
    width: 50px;
  }

  .footer__logo-content .footer__logo-text {
    margin: 0 0 0 10px;
    line-height: 17px;
  }

  .footer__nav {
    display: none;
  }

  .footer__menu {
    display: flex;
  }

  #burger {
    display: flex;
  }

  ._ahv::after {
    --scale: 0;
    height: 0;
  }
}

@media (max-width: 420px) and (max-width: 767px) {
  .foote__nav-li {
    font-size: calc(13px + 8.5 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 375px) {
  .title {
    line-height: 30px;
  }

  .subTitle {
    line-height: 15px;
  }
}

@media (max-width: 375px) and (max-width: 767px) {
  .subTitle {
    font-size: calc(10px + 6.8 * ((100vw - 320px) / 1170));
  }
}

@media (max-width: 374px) {
  .services__info-cont {
    padding: 20px 10px;
  }

  .services__infoMessage-cont {
    margin: 10px 0;
  }

  .services__infoMessage-cont .services-info__img {
    margin: 0 5px 0 0;
  }

  .services__infoMessage-cont .services-info__img img {
    width: 20px;
  }

  .services__infoMessage-cont .services-info__text {
    font-size: 10px;
  }

  .services-info__btn-cont .info-btn {
    width: 70px;
    height: 21px;
    font-size: 7px;
  }

  .services-info__btn-cont .servicesMod {
    font-size: 7px;
  }

  .services__info-item {
    padding: 10px 5px;
  }

  .services__info-item .info-item__number {
    width: 30px;
    height: 30px;
    font-size: 17px;
    margin: 0 5px 0 0;
  }

  .services__info-item .info-item__text {
    font-size: 7px;
    max-width: 220px;
    line-height: 9px;
  }
}

@media (max-width: 375px) and (min-width: 767px) {
  .subTitle {
    font-size: calc(10px + 4 * (100vw / 1170));
  }
}

@media (max-width: 375px) and (min-width: 1170px) {
  .subTitle {
    font-size: 14px;
  }
}

@media (max-width: 690px) and (min-width: 767px) {
  .sign__title {
    font-size: calc(18px + 7 * (100vw / 1170));
  }

  .sign__subtitle {
    font-size: calc(12px + 3 * (100vw / 1170));
  }

  .form__form .form__title {
    font-size: calc(10px + 4 * (100vw / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(9px + 4 * (100vw / 1170));
  }
}

@media (max-width: 690px) and (min-width: 1170px) {
  .sign__title {
    font-size: 25px;
  }

  .sign__subtitle {
    font-size: 15px;
  }

  .form__form .form__title {
    font-size: 14px;
  }

  .form__form .form__subTitle {
    font-size: 13px;
  }
}

@media (max-width: 435px) and (min-width: 767px) {
  .sign__title {
    font-size: calc(14px + 6 * (100vw / 1170));
  }

  .sign__subtitle {
    font-size: calc(9px + 5 * (100vw / 1170));
  }

  .services__card .card__subTitle {
    font-size: calc(10px + 2 * (100vw / 1170));
  }
}

@media (max-width: 435px) and (min-width: 1170px) {
  .sign__title {
    font-size: 20px;
  }

  .sign__subtitle {
    font-size: 14px;
  }

  .services__card .card__subTitle {
    font-size: 12px;
  }
}

@media (max-width: 430px) and (min-width: 767px) {
  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: calc(9px + 2 * (100vw / 1170));
  }

  .map__title {
    font-size: calc(12px + 7 * (100vw / 1170));
  }

  .map__subTitle {
    font-size: calc(9px + 1 * (100vw / 1170));
  }
}

@media (max-width: 430px) and (min-width: 1170px) {
  .doctor__card .card__doctor-info .card__doctor-text {
    font-size: 11px;
  }

  .map__title {
    font-size: 19px;
  }

  .map__subTitle {
    font-size: 10px;
  }
}

@media (max-width: 490px) and (min-width: 767px) {
  .form__form .form__title {
    font-size: calc(10px + 3 * (100vw / 1170));
  }

  .form__form .form__subTitle {
    font-size: calc(9px + 2 * (100vw / 1170));
  }
}

@media (max-width: 490px) and (min-width: 1170px) {
  .form__form .form__title {
    font-size: 13px;
  }

  .form__form .form__subTitle {
    font-size: 11px;
  }
}

@media (max-width: 770px) and (min-width: 767px) {
  .footer__logo-content .footer__logo-text {
    font-size: calc(11px + 7 * (100vw / 1170));
  }
}

@media (max-width: 770px) and (min-width: 1170px) {
  .footer__logo-content .footer__logo-text {
    font-size: 18px;
  }
}

@media (max-width: 420px) and (min-width: 767px) {
  .foote__nav-li {
    font-size: calc(13px + 5 * (100vw / 1170));
  }
}

@media (max-width: 420px) and (min-width: 1170px) {
  .foote__nav-li {
    font-size: 18px;
  }
}